#im1u48{
    color:white;
    background-color:#29b6f6;
  }
  .row, .parallax-container .section{
    width:100%;
  }
  .row{
    display:table;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
  }

  body{
      background-image: url("https://spoilednyc.com/article-images/2015/05/07/11444295303_5a21c0679c_b-5813.jpg");
      background-size: cover;
  }
  nav .brand-logo, nav ul a{
    color:rgb(68, 68, 68);
  }
  .button-collapse{
    color:rgb(38, 166, 154);
  }
  .card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    background-color: #29b6f6;
}
  .input-field>label{
    color : white;
  }

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
  border-bottom: 1px solid white;
}
  .input-field [type="checkbox"] + label, .input-field [type="radio"]:checked + label, .input-field [type="radio"]:not(:checked) + label{
    pointer-events:auto;
  }
  input:not([type]):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:blue;
    box-shadow:blue 0px 1px 0px 0px;
  }
  #contact input#your-email, #contact textarea#your-message{
    color:rgb(255, 255, 255);
  }
  .icon-block .material-icons{
    font-size:inherit;
  }
  footer.page-footer{
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
  }
  .col:empty{
    display:table-cell;
    height:75px;
  }
  #myForm .input-field [type="checkbox"] + label, #myForm .input-field [type="radio"]:checked + label, #myForm .input-field [type="radio"]:not(:checked) + label{
    pointer-events:auto;
  }
  input:not([type]):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), #myForm input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), #myForm input[type="datetime"]:not(.browser-default):focus:not([readonly]), #myForm input[type="email"]:not(.browser-default):focus:not([readonly]), #myForm input[type="number"]:not(.browser-default):focus:not([readonly]), #myForm input[type="password"]:not(.browser-default):focus:not([readonly]), #myForm input[type="search"]:not(.browser-default):focus:not([readonly]), #myForm input[type="tel"]:not(.browser-default):focus:not([readonly]), #myForm input[type="text"]:not(.browser-default):focus:not([readonly]), #myForm input[type="time"]:not(.browser-default):focus:not([readonly]), #myForm input[type="url"]:not(.browser-default):focus:not([readonly]), #myForm textarea.materialize-textarea:focus:not([readonly]){
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:blue;
    box-shadow:blue 0px 1px 0px 0px;
  }
  .col:empty, #myForm .col:empty{
    display:table-cell;
    height:75px;
  }
  #myForm .col:empty{
    position:relative;
  }
  #myForm .col:empty::after{
    content:"Add form elements here";
    color:rgb(136, 136, 136);
    position:absolute;
    left:10px;
    top:10px;
    display:block;
    width:400px;
  }
  .validate{
    color:white;
  }
  p1{
    font-family: 'Dancing Script', cursive;
    font-size: 26px;

  }
  .col.s12{
    background-color:#29b6f6;
  }
  .center-box{
    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto;
    max-width:500px;
  }
  .center-box:empty{
    height:75px;
  }
  @media only screen and (max-width: 992px){
    .parallax-container .section{
      position:absolute;
      top:40%;
    }
    #index-banner .section{
      top:10%;
    }
  }
  @media only screen and (max-width: 600px){
    #index-banner .section{
      top:0px;
    }
  }
  