<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  
  <title>{{{Home Page}}}</title>
</head>

<body>
  {{{body}}}
</body>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5fexPu3_Bzl4Uuy3UYNAJev-r7f2wLcU&callback=initMap"
    async defer></script>
</html>
