{{!-- <div id="text">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>Emergency Contact Form</h2>
                <input type="contact" name="contact" id="contact" placeholder="Enter Emergency Contact">
                <br>
                <input type="tel" name="number" id="number" placeholder="Enter Phone #">
                <br>
                <input type="text" name="msg" id="msg" placeholder="You're Emergency Text">
                <br>
                <input type="button" name="button" value="Send Text" class="button" </div> </div> </div> </div> <script
                    type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="/socket.io/socket.io.js"></script>
                <script src="js/main.js"></script> --}}